* {
    font-size: 20px;
}

.btn,
input[type="file"] {
    width: 400px;
    height: 90px;
    margin-right: 20px;
    background-color: rgb(49, 117, 218);
}

.btn:hover,
input[type="file"]:hover {
    cursor: pointer;
}

.container {
    width: 100%;
    height: auto;
    border: 3px solid black;
}



#live {
    width: 100%;
    height: 70%;
}

#output {
    width: 400px;
    height: 300px;
}



@media screen and (min-width: 800px) {
    .container {
        display: flex;
    }

    .child {
        width: 50%;
        padding: 10px;
    }

    .btn {
        margin-bottom: 10px;
    }
}



@media screen and (max-width: 799px) {

    .child {
        display: flex;
        padding: 10px;
        margin-bottom: 10px;
    }
}